<h1 align = "center">Articles show</h1>

<p>title: <%= @article.title%></p>
<p>description: <%= @article.description%></p>

<%= link_to "edit article ", edit_article_path(@article)%> |
<%= link_to "back to article listing", articles_path%>
