$navbar-default-bg: #4367b1;
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default {
  border: 0;
  border-radius: 0;
}
.navbar-default .navbar-nav li a{
  color: #fff;
}
.dropdown-menu{
  background-color: #4467b0;
}
#logo {
    float: left;
	font-size: 1.7em;
	color: #fff;
	font-weight: normal;
}

#logo:hover{
	color: #fff;
}
.center {
  text-align: center;
}
.jumbotron  {
  background-image: asset-url('netwo.jpg');
  background-size: cover;
  height: 580px;
}
.jumbotron h2{
  font-size: 2.7em;
  font-weight: bold;
  letter-spacing: -1;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;

}

.btn-xlg {
  font-size: 1.7em;
  background: red;
}

.description {
  margin: 0;
}
.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 10px;

}
.article-title{
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}
.article-body{
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer {
  margin-top: 30px;
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
  color: #777;
}
.footer small{
  float: left;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer ul li{
  float: left;
  margin-left: 15px;
}
